@import '../abstracts/functions';

@font-face
{
  font-family: 'Source Sans Pro';
  src: url('../src/assets/Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype')
}
body
{
  background: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
}
.gorTile
{
  background: #fff;
  border-radius: calculateRem(3px);
  box-shadow: 0px 2px 3px 3px #EAEAEA;
  display: inline-block;
  margin: 1% 1% 1% 2%;
  font-size: 0;
  &.gorDouble{
      width:96%;
  }
  &.gorSingle{
      width:47%;
  }
  .gorStatus{
    font-family: 'Source Sans Pro semibold', sans-serif;
    font-size: calculateRem(16px);
    padding:0;
    margin:0;
    line-height: 30px;
  }
  .gorUp-tile{
    padding: 15px 20 0px 20px;
    min-height:calculateRem(125px);
  }
  .gorTile-left{
    width: 80%;
    display:inline-block;
  }
  .gorTile-one{
    width: 50%;
    display:inline-block;
    margin-right: auto;
  }
  .gorTile-two{
    width: 50%;
    display:inline-block;
    margin-right: 0;
}
.gorHeading{
    font-family: 'Source Sans Pro semibold', sans-serif;
    font-size: calculateRem(16px);
    font-weight: 600;
    line-height: 46px;
}
.gorHeading-value{
    font-family: 'Source Sans Pro regular', sans-serif;
    font-size: calculateRem(45px);
    padding:0;
    margin:0;
}
.gorSuccess{
  color: #00a54f;
}
.gorBreach{
  color: #ec1c24;
}
.gorRisk{
  color:#dd7f03;
}
.gorTile-right{
  width: 16%;
  display:inline-block;
  vertical-align: top;
  height:55px;
}
.gorLow-tile{
  font-family: 'Source Sans Pro semibold', sans-serif;
  font-size: calculateRem(16px);
  background:#F7F7F7;
  color: #666666;
  padding: 10px 0px 15px 20px;
}

}
.gorNoML{margin-left:0;}

/*Media queries*/
@media only screen and (max-width: 480px) {
    .gorTile{
       .gorTile-one{
        width: 100%;
    }
    .gorTile-two{
        width: 100%;
    }
      &.gorSingle{
          width:100%;
      }
    }
}
